/* =======================
   Module/Message
   ======================= */

.message { 
  position: relative;

  display: block;
  overflow: hidden;

  max-height: 175px;
  margin: 20px 0;
  padding: 10px;

  list-style-type: none;

  color: #2c3e50;
  border-radius: 3px;
  background: white;
  
  blockquote {
    font-size: 14px;
  
    display: inline-block;
    float: right;
  
    width: calc(100% - 100px);
    margin: 0;
    
  }
  
  blockquote cite {
    font-size: 16px;
    font-style: normal;
  }
  
  blockquote cite a {
    display: inline-block;
  
    margin-right: 5px;
  
    text-decoration: none;
  
    color: $color1;
  }
  
  blockquote cite a:hover {
    text-decoration: underline;
  }
  
  blockquote .screen-name {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: normal;
  
    color: #999;
  }
  
  blockquote .content {
    display: block;
    clear: left;
  
    margin-top: 5px;
  }
  
   @include clearfix();
}