@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// = Fonts
// -----------------------------
$font1: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
$font2: Georgia, serif;

// = Colors
// -----------------------------

$red: #df2e30;
$orange: #ff6600;
$blue: #1894c4;

$facebook: #3b5998;
$twitter: #43bfe1;

$color1: $orange;
$color2: $blue;

$bg-color: #e9e9e9;

// = Grid
// -----------------------------

// Max width wrapper
$wrapper-width: pxtoem(1140, 16);

